@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
/*layout*/

body {
	width: 100%;
	/*background: url(../images/bg.jpg)*/
	background-color: #fff;
}
.header {
	width: 100%;
	height: 160px;
  background: url(../images/bg_top.jpg) repeat-x bottom;
	background-color: #fff;
	position: fixed;
	z-index: 10000;
}
.header .logo_block {
	padding:0 3%;
	width:94%;
	padding-top: 10px;
}
.header .logo_block .logo,
.header .logo_block .logo_title{
	float:left;
	width:50%;
}
.header .logo_block .logo_title{
	float:right;
	text-align:right;
}
.header .title_block {
	text-align: center;
	border-bottom: 1px solid #d78b8b;
	padding-bottom: 20px;
}
.header .menu_block {
	width: 100%;
}
.header .menu_block ul {
	width: 130px;
	padding: 0;
	padding-top: 10px;
	margin: 0 auto;
	display: block;
}
.header .menu_block ul li {
	float: left;
	display: block;
	padding: 0 8px;
	text-align: center;
}




/*content*/
.content {
	width: 100%;
	padding-top: 160px;
	position:relative;
}
.content .list_block ul {
	padding: 0;
	margin: 0;
}
.content .list_block ul li {
	display: block;
	position: relative;
	padding:2px 0;
}
.content .list_block ul li a img {
}
.content .list_block ul li div.t_soldout {
	position: absolute;
	height: 20px;
	padding:5px 0;
	width: 100%;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.3);
	bottom: 2px;
	z-index: 998;
}
.content .list_block ul li div.t_hot {
	position: absolute;
	z-index: 999;
	top:24%;
	left:50%;
	width:7%;
}
.content .list_block ul li div.t_hot img{
	width:100%;
}
.content .list_block ul li div.list {
	width: 100%;
	z-index: 997;
}
.content .list_block ul li div.list img {
	width: 100%;
}

.content .product_img {
	width: 100%;
	position:relative;
}
.content .product_img .t_soldout{
	position: absolute;
	height: 20px;
	padding:7px 0;
	width: 100%;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.3);
	top: 0;
	z-index: 998;
}

.content .product_img .img img {
	width: 100%;
}
.content .product_img .img.add2{
	padding-top:40px;
}
.content .btn_getit {
	width: 100%;
	text-align: center;
	padding: 30px 0 10px;
}
.content .btn_getit img {
	width: 84%;
}
.content .btn_share_inview {
	width: 100%;
}
.content .btn_share_inview div {
	float: left;
}
.content .btn_share_inview div.txt {
	padding-left: 8%;
	padding-top: 15px
}
.content .btn_share_inview div.btn_fb, .content .btn_share_inview div.btn_kt {
	float: right;
}
.content .btn_share_inview div.btn_fb {
	padding-right: 8%;
	padding-left: 10px;
}

.input_notice p {
  margin: 0;
  font-size: 11px;
  color: #5c5c5c;
  padding-left: 31%;
  margin-bottom: 11px;
}

.bxslider{
  margin-top:20px;
}

.agree_pop{
  height:400px;
}

.agree_box{
  overflow:auto;
  height:250px;
}

.agree_box p{
  margin: 0;
}
/*footer*/
.footer {
	font-size: 11px;
	color: #5c5c5c;
	position:relative;
	padding-top:50px;
}
.footer .txt {
	border-top: 1px solid #c7c7c7;
	padding: 10px;
}
.footer h2 {
	font-size: 11px;
	color: #d78b8b;
	letter-spacing: -1px;
}
.footer ul {
	padding: 0;
	padding-left: 10px;
}
.footer ul li {
	padding: 0;
	line-height: 15px;
	list-style-image: url(../images/list_style.jpg);
}

/*movie*/
.capture_list{
	padding:10px;
}
.capture_list img{
	width:100%;
}


/*faq*/
.faq .one_q{
	border-bottom:1px solid #bfbebd;
}
.faq .one_q h2{
	padding:15px 30px;
	font-size:15px;
	line-height:20px;
	font-weight:normal;
	margin:0;
}
.faq .one_q h2 a{
	display:block;
	color:#5e5e5e;
	text-decoration:none;
}
.faq .one_q h2 a span{
	float:left;
	display:block;
}
.faq .one_q h2 a span.arrow{
	float:right;
}
.faq .one_q p{
	padding:20px 30px;
	font-size:13px;
	background:#eee;
	line-height:18px;
	margin:0;
}


.content.buy_comp .title h2{
	text-align:center;
	margin:0;
	padding:25px 0 0;
}
.content.buy_comp .title .sub{
	color:#d78b8b;
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	text-align:center;
	padding:10px 0;
	margin:0;
}
.content.buy_comp .product_img {
	width:100%;
	text-align:center;
	margin-bottom:10px;
}
.content.buy_comp .product_img img{
	width:90%;
}
.content.buy_comp .info_detail{
	border:2px solid #eccbca;
	width:90%;
	margin:0 auto;
}
.content.buy_comp .info_detail h3{
	margin:0 40px;
	border-bottom:1px solid #ddd;
	text-align:center;
	padding:15px 0;
}
.content.buy_comp .info_detail ul{
	padding:10px 0 20px;
	margin:0 40px;
	font-size:13px;
	color:#666;
}
.content.buy_comp .info_detail ul li{
	padding:3px 0;
}
.content.buy_comp .info_detail.d2{
	border:none;
	font-size:12px;
	color:#777777;
	margin-top:10px;
	line-height:15px;
	text-align:center;
}
.content.buy_comp .btn_block{
	text-align:center;
	padding:20px 0 0;
}

/*pop*/
body.pop_bg{
	background:#000;
}
.popup{
	width:95%;
	/*background: url(../images/bg.jpg);*/
  background-color: #fff;
	margin:10px auto ;
}
.popup .btn_close{
	text-align:right;
}
.popup .btn_close a{
	padding-left:10px;
	display:inline-block;
}
.popup .content{
	padding:15px 0 25px;
}
.popup .content .title{
	text-align:center;
	padding-bottom:15px;
}
.popup .content .info_block{
	padding:10px 30px;
}
.popup .content .info_block .input_one{
	width:100%;
}
.popup .content .info_block .input_one div{
	float:left;
}
.popup .content .info_block .input_one .label{
	width:30%;
	font-size:13px;
	color:#777;
	line-height:20px;
	padding-top:4px;
	font-weight:bold;
}
.popup .content .info_block .input_one .input{
	width:70%;
	float:right;
}
.popup .content .info_block .input_one .input input{
	width:100%;
	font-size:13px;
	color:#333;
	font-weight:bold;
	padding:3px 0;
	height:24px;
}

.popup .content .check_block {
padding: 0 20px 15px;
}
.popup .content .check_block .check_one{
	width:70%;
	padding-left:30%;
}
.popup .content .check_block .check_one .check,
.popup .content .check_block .check_one .label{
	float:left;
}
.popup .content .check_block .check_one .label{
	padding-left:10px;
}
.popup .content .check_block .check_one .label a{
	font-size:12px;
	color:#999;
}

.popup .content .btn_block{
	text-align:center;
}



.popup .content.fail .title img{
	width:100%;
}
.popup .content.fail .f_img img{
	width:100%;
}
.popup .content.fail .btn_share{
	width:100%;
	padding-top:15px;
}
.popup .content.fail .btn_share .txt{
	width:165px;
	float:left;
	padding-left:15px;
	padding-top:10px;
}

.popup .content.fail .btn_share div.btn_fb{
	width:45px;
	float:right;
	text-align:right;
	padding-right:15px;
}
.popup .content.fail .btn_share div.btn_kt{
	width:45px;
	float:right;
	text-align:right;
	padding-right:0;
	
}



.popup .content.address{
}
.popup .content.address .title{
	text-align:center;
	margin:0 10px 10px;
	border-top:2px solid #e6b8b7;
	border-bottom:1px solid #e6b8b7;
	padding: 10px 0;
}
.popup .content.address .sub_title{
	text-align:center;
	padding:10px 0;
}
.popup .content.address .info_block .input_one .input .inner{
	width:100%;
}
.popup .content.address .info_block .input_one .input div{
	float:left;
}
.popup .content.address .info_block .input_one .input div.in{
	width:30%;
	padding-right:2%;
}
.popup .content.address .info_block .input_one .input div.in input{
	width:100%;
}
.popup .content.address .info_block .input_one .input div.dash{
	width:10%;
	text-align:center;
	padding-top:5px;
}
.popup .content.address .info_block .input_one .input div.btn{
	width:20%;
	padding-left:2%;
}
.popup .content.address .info_block .input_one.detail_num p{
	margin:0;
}
.popup .content.address .info_block .input_one.detail_num p.first{
	padding-bottom:5px;
}

.popup .content.notice .title{
	text-align:center;
}
.popup .content.notice .txt_block{
	color:#666;
	line-height:18px;
	padding:15px;
	font-size:13px;
}



/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
