@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
}
input{
	font-family: '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif;
	font-family: "Malgun Gothic";
	font-weight:bold;
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
}
.g_960{
	width:960px;
	margin:0 auto;
}
.g_984{
	width:984px;
	margin:0 auto;
}



.header .logo{
	padding-top:20px;
}
.header .logo .inner{
	width:100%;
}
.header .logo .inner div{
	float:left;
	width:50%;
	text-align:left;
}
.header .logo div.right{
	text-align:right;
}
.header .title{
	width:100%;
	text-align:center;
	border-bottom:1px solid #d78b8b;
	padding-bottom:20px;
}
.header .navi{
	padding-top:10px;
	padding-bottom:15px;
	background:url(../images/bg_navi.jpg) bottom repeat-x;
}
.header .navi ul{
	padding-left:405px;
}
.header .navi ul li{
	float:left;
	display:block;
	padding:0 7px;
}

.content{
	position:relative;
}
.content .slide_block{
	padding-top:20px;
	position:relative;
}

.content .slide_block .banner_block{
	position:absolute;
	right:-115px;
	top:20px;
	width:100px;
	z-index:9999;
}
.content .slide_block .banner_block .one_banner{
	padding-bottom:20px;
}

.list_block ul li{
	float:left;
	padding:0 12px;
	padding-bottom:30px;
	display:block;
	position:relative;
}
.list_block ul li .t_soldout{
	position:absolute;
	top:288px;
	text-align:center;
	background:rgba(0, 0, 0, 0.5);
	width:468px;
	padding:10px 0;
}
.list_block ul li .t_hot{
	position:absolute;
	top:355px;
	left:120px;
}
.list_block ul li .list p{
	text-align:center;
}

.page .content{
	position:relative;
}

.content .product_img{
	position:relative;
}
.content .product_img .t_soldout{
	position:absolute;
	top:0;
	width:100%;
	padding:10px 0;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.3);
}
.content .product_detail{
	border:1px solid #ddd;
	background:#fff;
	padding:30px 100px;
	border-top:none;
}
.content .product_detail .product_txt{
	padding:30px 0;
}
.content .product_detail_img{
	padding:20px 0;
}

.content .product_detail .img.add{
	padding:20px 0 30px;
}
.content .product_detail .btn_block{
	width:100%;
	padding:0 0 30px;
}
.content .product_detail .btn_block .inner{
	width:370px;
	float:right;
}
.content .product_detail .btn_block .btn_getit{
	padding:10px 0 0;
	text-align:right;
}

.content .product_detail .btn_block .btn_share_inview{
	width:370px;
	padding-top:8px;
}
.content .product_detail .btn_block .btn_share_inview .btn_fb,
.content .product_detail .btn_block .btn_share_inview .btn_kt{
	float:right;
	padding-left:5px;
}
.content .product_detail .btn_block .btn_share_inview .txt{
	padding-top:15px;
	float:left;
}
.txt_ship{
	padding:40px 0;
}
.txt_ship p{
	text-align:center;
	color:#d78b8b;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	padding:5px 0;
	margin:0;
}
.buy_detail{
	margin-bottom:30px;
}
.buy_detail .txt_data{
	padding:30px 20px;
	border:2px solid #edcccb;
}
.buy_detail .txt_data p{
	text-align:center;
	width:360px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
}
.buy_detail .txt_data ul{
	width:360px;
	margin:0 auto;
	font-size:15px;
	color:#5e5e5e;
	padding-top:20px;
}
.buy_detail .txt_data ul li{
	padding:2px 0;
}
.buy_detail .txt_guide{
	text-align:center;
	color:#5e5e5e;
	font-size:12px;
	margin-top:10px;
}

.footer{
	font-size:13px;
	color:#5c5c5c;
	padding:50px 0 50px;
}
.footer h2{
	color:#d78b8b;
	font-size:13px;
	padding:30px 0 10px;
}
.footer ul{
	margin:0;
	font-size:13px;
}
.footer ul li{
    line-height: 15px;
	margin-bottom:3px;
}
.footer .txt.t01{
	border-top:1px solid #ccc;
}

.footer .txt.copy{
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:20px;
}

.input_notice p{
  margin: 0;
	font-size:13px;
	color:#5c5c5c;
	padding-left: 150px;
}

/*pop*/
.pop_bg{
	background:#000;
}
.wrap_pop{
  margin: 0 auto;
	background:url(../images/bg.jpg);
	width:650px;
}
.wrap_pop .header .btn_close{
	padding:0;
	text-align:right;
}
.wrap_pop .inner{
	padding:0 70px 70px;
}
.wrap_pop .content .title{
	text-align:center;
}
.wrap_pop .content .btn_block{
	text-align:center;
}
.wrap_pop .content .img_one{
	padding-top:20px;
	text-align:center;
}
.wrap_pop .content .share_txt{
	text-align:center;
	padding-top:20px
}
.wrap_pop .content .btn_share_block{
	padding-top:10px;
}
.wrap_pop .content .btn_share_block div{
	float:left;
}
.wrap_pop .content .btn_share_block div.fb{
	padding-left:250px;
	padding-right:5px;
}


.wrap_pop .content.notice .txt_block{
	padding-top:20px;
	font-size:13px;
	color:#666;
	line-height:16px;
}

.wrap_pop .content.info .info_block{
	padding:20px 0;
}
.wrap_pop .content.info .info_block ul{
	padding:0;
	margin:0;
}
.wrap_pop .content.info .info_block ul li{
	display:block;
	padding:5px 0;
}
.wrap_pop .content.info .info_block ul li .label,
.wrap_pop .content.info .info_block ul li .input{
	float:left;
	width:140px;
}
.wrap_pop .content.info .info_block ul li .input {
	width:400px;
}
.wrap_pop .content.info .info_block ul li .input input{
	padding:5px;
	width:380px;
	font-size:14px;
	font-weight:bold;
}

.wrap_pop .content.info .check_block{
	padding-left:140px;
	padding-bottom:30px;
}
.wrap_pop .content.info .check_block ul{
	padding:0;
	margin:0;
}
.wrap_pop .content.info .check_block ul li{
	display:block;
	padding:5px 0;	
}
.wrap_pop .content.info .check_block ul li .input,
.wrap_pop .content.info .check_block ul li .label{
	float:left;
}
.wrap_pop .content.info .check_block ul li .input{
	padding-right:7px;
}
.wrap_pop .content.info .check_block ul li .label{
	padding-top:1px;
}
.wrap_pop .content.address .info_block{
	padding:40px 0 20px;
}
.wrap_pop .content.address .info_block .input_one{
	width:100%;
}
.wrap_pop .content.address .info_block .input_one .label,
.wrap_pop .content.address .info_block .input_one .input{
	float:left;
}
.wrap_pop .content.address .info_block .input_one .label{
	width:100px;
	padding-top:4px;
}
.wrap_pop .content.address .info_block .input_one .input .inner{
	padding:0;
}
.wrap_pop .content.address .info_block .input_one .input .inner .in,
.wrap_pop .content.address .info_block .input_one .input .inner .dash,
.wrap_pop .content.address .info_block .input_one .input .inner .btn{
	float:left;
}
.wrap_pop .content.address .info_block .input_one .input .inner .dash{
	width:30px;
	text-align:center;
	padding:5px 0;
}
.wrap_pop .content.address .info_block .input_one .input .inner .in{
	width:100px;
}
.wrap_pop .content.address .info_block .input_one .input .inner .in input{
	width:90px;
	padding:5px;
	font-size:13px;
	font-weight:bold;
}
.wrap_pop .content.address .info_block .input_one .input .inner .btn{
	padding-left:10px;
}
.wrap_pop .content.address .info_block .input_one.detail_num .input p{
	margin:0;
	padding:0 0 10px;
}
.wrap_pop .content.address .info_block .input_one.detail_num .input input{
	width:380px;
	padding:5px;
	font-size:13px;
	font-weight:bold;
}

/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
